<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <RetryPolicyConfiguration defaultRetryStrategy="Exponential Backoff Retry Strategy"
        defaultSqlConnectionRetryStrategy="Exponential Backoff Retry Strategy"
        defaultSqlCommandRetryStrategy="Exponential Backoff Retry Strategy"
        defaultAzureServiceBusRetryStrategy="Exponential Backoff Retry Strategy"
        defaultAzureCachingRetryStrategy="Exponential Backoff Retry Strategy"
        defaultAzureStorageRetryStrategy="Exponential Backoff Retry Strategy">
        <exponentialBackoff name="Exponential Backoff Retry Strategy" />
    </RetryPolicyConfiguration>
    <dataConfiguration defaultDatabase="SqlAzure" />
    <connectionStrings>
        <add name="SqlAzure" connectionString="Server=tcp:jc1mrv1s4r.database.windows.net,1433;Database=ProxyACLs;User ID=jackbao@jc1mrv1s4r;Password=424913@Ms;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>